@charset 'UTF-8';

@forward "../../css/_vendor/normalize";
@forward "../../css/fonts";
@forward  "../../css/elements";
@forward "../../css/_components/layout";
body,html {
	margin:0;
	padding:0;
}
#test {
	overflow:hidden;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
#test ul {
	margin: 0;
	padding:0;
	clear: left;
}
#test li {
	background-color: #dee;
	width: 60px;
	padding: 10px 10px;
	list-style: none;
	float: left;
	margin-top: 20px;
	margin-right: 10px;
  margin-left: 10px;
}
#test li div {
	background: #ff9;
}
#test li div div {
	background: #f99;
}
#list1 li {
	box-sizing: border-box;
}
#list3>li {
	width: 100px;
}
#list3>li>div+div {
	margin-top: 1em;
}
.btnGroup {
	clear: both;
	padding-top: 1em;
}
.btnGroup a {
	margin-left: 1em;
}
