@charset 'UTF-8';

@forward "../../css/_vendor/normalize";
@forward "../../css/fonts";
@forward  "../../css/elements";
@forward "../../css/_components/layout";
body,html {
	margin:0;
	padding:0;
}
.list {
  width: 90%;
  margin: -20px auto 0;
  padding:0;
  position: relative;
  z-index: 1;
  li {
    background-color: #dee;
    box-sizing: border-box;
    width: 60px;
    padding: 10px 10px;
    list-style: none;
    float: left;
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 10px;
    div {
	    background: #ff9;
    }
    div div {
	    background: #f99;
    }
  }
  &::after {
    content:'';
    display: block;
    clear:both;
  }
  &::before {
      position: absolute;
      top: 2em;
      left: -20px;
      content: 'Complete';
      font-size: 2.5em;
      font-weight: bold;
      color: #d00;
      opacity: 0;
      transform: rotate( -45deg );
      transform-origin: center;
      transition: opacity 0.2s 0.2s ease-in;
  }
  &.js-complete {
    position: relative;
    &::before {
      opacity: 0.6;
    }
  }
}
#list1 li {
  position: relative;
	box-sizing: border-box;
  &.js-firstOfRow {
    &::before {
      z-index: 1;
      position: absolute;
      content: "first";
      background-color: #f00;
      color: #fff;
      top:-10px;
      left: -20px;
      padding: 2px 10px;
      transform: rotate( -45deg )
    }
  }
  &.js-lastOfRow {
    &::after {
      z-index: 1;
      position: absolute;
      content: "last";
      background-color: #f0f;
      color: #fff;
      bottom:-10px;
      right: -20px;
      padding: 2px 10px;
      transform: rotate( -45deg )
    }
  }
}
#list3>li {
	width: 100px;
}
#list3>li>div+div {
	margin-top: 1em;
}
.btnGroup {
  padding: 10px;
  border-bottom: solid 5px #fcc;
  margin: 20px 0 0;
  position: relative;
  z-index: 2;
  ul+& {
    margin-top: 100px;
  }
}
.btn {
  margin: 0;
  padding: 2px 10px 4px;
  border: solid 1px #e00;
  background: #ded;
  min-width: 6em;
  cursor: pointer;
  &:hover {
    background: #cec;
  }
  &+.btn {
    margin-left: 1em;
  }
}

