@charset 'UTF-8';

@forward "../../css/_vendor/normalize";
@forward "../../css/fonts";
@forward  "../../css/elements";
@forward "../../css/_components/layout";
body,html {
	margin:0;
	padding:0;
}
.list {
  &:after {
    content:'';
    display: block;
    clear:both;
  }
}
#test {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
#test ul {
	margin: 0;
	padding:0;
	clear: left;
}
#test li {
	background-color: #dee;
	width: 60px;
	padding: 10px 10px;
	list-style: none;
	float: left;
	margin-top: 20px;
	margin-right: 10px;
  margin-left: 10px;
}
#test li div {
	background: #ff9;
}
#test li div div {
	background: #f99;
}
#list1 li {
  position: relative;
	box-sizing: border-box;
  &.js-first-element {
    &::before {
      z-index: 1;
      position: absolute;
      content: "first";
      background-color: #f00;
      color: #fff;
      top:-10px;
      left: -20px;
      padding: 2px 10px;
      transform: rotate( -45deg )
    }
  }
  &.js-last-element {
    &::after {
      z-index: 1;
      position: absolute;
      content: "last";
      background-color: #f0f;
      color: #fff;
      bottom:-10px;
      right: -20px;
      padding: 2px 10px;
      transform: rotate( -45deg )
    }
  }
}
#list3>li {
	width: 100px;
}
#list3>li>div+div {
	margin-top: 1em;
}
.btnGroup {
	clear: both;
	padding-top: 1em;
  ul+& {
    margin-top: 100px;
  }
}
.btnGroup a {
	margin-left: 1em;
}
