@charset "UTF-8";

.sg-page {
  overflow: hidden;
  @at-root {
    .sg-page_head {
      position: relative;
      z-index: 1;
      padding: 20px 10px;
      background-color: #fcc;
    }
    .sg-page_siteId {
      box-sizing: border-box;
      width: 10em;
      >a {
        color: #f00;
        font-weight: bold;
        font-size: 1.5em;
      }
    }
    .sg-page_body {
      padding: 0 0 40px;
    }
    .sg-page_foot {
      border-top: solid 3px #ddd;
      padding: 10px;
    }
    .sg-page_core--foot {
      text-align: right;
    }
  }
}
